/* Typography.module.css */

.largeTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
   color: var(--gray-900);
  }
  
  .subtitle {
    font-size: 16px;
    font-weight:500;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--gray-600);
  }
  
  .placeholder {
    font-size: 16px;
    font-weight:500;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--gray-400);
  }

  .placeholderActive {
    color: var(--gray-700);
  }
  
  .button1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1; 
    letter-spacing: -0.02em;
   
  }
  
  .button1Active {
    color: var(--blue-600);
  }
  
  .button2 {
    font-size: 16px;
    font-weight: 500; 
    line-height: 1;
    letter-spacing: -0.02em; 
    color: var(--gray-500);
  }
  
  .button2Active {
    font-weight: 700;
    color: var(--white);
  }
  
  .button3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; 
    color: var(--gray-500);
  }
  
  .button3Active {
    font-weight: 600; 
    color: var(--blue-600);
  }

  .keyword {
    font-size: 18px;  
    font-weight: bold;
    line-height: auto;
    letter-spacing: -0.02em; 
    color: var(--gray-400);
  }

  .stepButton {
    font-size: 18px;  
    font-weight: bold;
    line-height: auto;
    letter-spacing: -0.02em; 
    color: var(--white);
  }
  
  .count1 {
    font-size: 14px;
    font-weight: 600; 
    line-height: 1;
    letter-spacing: 0;
    color: var(--blue-600);
  }
  
  .count2 {
    font-size: 16px;
    font-weight: 500;   
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--blue-600);
  }
  
  .selectBox {
    font-size: 16px;
    font-weight: 500; 
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--blue-600);
  }
  
  .selectList {
    font-size: 16px;
    font-weight: 600; 
    line-height: 1;
    letter-spacing: -0.02em; 
    color: var(--gray-500);
  }
  
  .box1 {
    font-size: 16px;
    font-weight: 600; 
    line-height: 1; 
    letter-spacing: -0.02em; 
    color: var(--gray-800);
  }

  .box2 {
    font-size: 16px;
    font-weight:500; 
    line-height: 1; 
    letter-spacing: -0.02em; 
    color: var(--gray-700);
  }
  
  .caption {
    font-size: 14px;
    font-weight: 500;   
    line-height: 1; 
    letter-spacing: -0.02em; 
    color: var(--gray-400);
  }
  
  .body1 {
    font-size: 18px;
    font-weight: 500;   
    line-height: 1;
    letter-spacing: -0.02em; 
    color: var(--gray-700);
  }
  
  .body2 {
    font-size: 16px;
    font-weight: 500;   
    line-height: 24px;
    letter-spacing: -0.02em; 
    color: var(--gray-700);
  }
  
  .body3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  letter-spacing: -0.02em; 
  color: var(--gray-600);
}

  .title1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--white);
  }
  
  .title2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
  letter-spacing: -0.02em; 
  color: var(--gray-600);
  }
  