/* global.css 또는 index.css 등 전역 스타일 시트 파일 */
:root {
    --white: #ffffff;
  
    /* Gray scale */
    --gray-50: #F1F1F1;
    --gray-100: #F2F2F2;
    --gray-200: #E6E6E6;
    --gray-300: #CCCCCC;
    --gray-400: #B3B3B3;
    --gray-500: #999999;
    --gray-600: #808080;
    --gray-700: #666666;
    --gray-800: #4D4D4D;
    --gray-900: #333333;
  
    /* Blue scale */
    --blue-50: #EBF4FE;
    --blue-100: #DBECFF;
    --blue-200: #E3EFFF;
    --blue-300: #C1DFFF;
    --blue-400: #60A5FA;
    --blue-500: #4498FF;
    --blue-600: #5897E5;
  }
  